*.js
*.css
*.png

.idea/

.target

target/

*.name
target/MANIFEST.MF
*.xml
.idea/misc.xml
target/classes/application.properties
.idea/workspace.xml

.idea/workspace.xml

target/classes/charles/system/controller/systemController.class

target/classes/charles/controllers/MainController.class

target/classes/charles/system/controller/systemController.class
